[data-theme="light"] {
    --primary-50: oklch(0.97 0.018 230);
    --primary-50-foreground: dark;
    --primary-100: oklch(0.93 0.0423 230);
    --primary-100-foreground: dark;
    --primary-200: oklch(0.87 0.0801 230);
    --primary-200-foreground: dark;
    --primary-300: oklch(0.78 0.1399 230);
    --primary-300-foreground: dark;
    --primary-400: oklch(0.68 0.136 230);
    --primary-400-foreground: dark;
    --primary-500: oklch(0.55 0.1103 230);
    --primary-500-foreground: light;
    --primary-600: oklch(0.45 0.0908 230);
    --primary-600-foreground: light;
    --primary-700: oklch(0.37 0.0754 230);
    --primary-700-foreground: light;
    --primary-800: oklch(0.29 0.0605 230);
    --primary-800-foreground: light;
    --primary-900: oklch(0.21 0.047 230);
    --primary-900-foreground: light;
    --primary-950: oklch(0.13 0.0401 230);
    --primary-950-foreground: light;
    --danger-50: oklch(0.97 0.0148 25);
    --danger-50-foreground: dark;
    --danger-100: oklch(0.93 0.0356 25);
    --danger-100-foreground: dark;
    --danger-200: oklch(0.87 0.0696 25);
    --danger-200-foreground: dark;
    --danger-300: oklch(0.78 0.1286 25);
    --danger-300-foreground: dark;
    --danger-400: oklch(0.68 0.18 25);
    --danger-400-foreground: dark;
    --danger-500: oklch(0.55 0.18 25);
    --danger-500-foreground: light;
    --danger-600: oklch(0.45 0.18 25);
    --danger-600-foreground: light;
    --danger-700: oklch(0.37 0.1525 25);
    --danger-700-foreground: light;
    --danger-800: oklch(0.29 0.1216 25);
    --danger-800-foreground: light;
    --danger-900: oklch(0.21 0.0928 25);
    --danger-900-foreground: light;
    --danger-950: oklch(0.13 0.072 25);
    --danger-950-foreground: light;
    --info-50: oklch(0.97 0.0441 195);
    --info-50-foreground: dark;
    --info-100: oklch(0.93 0.1097 195);
    --info-100-foreground: dark;
    --info-200: oklch(0.87 0.12 195);
    --info-200-foreground: dark;
    --info-300: oklch(0.78 0.12 195);
    --info-300-foreground: dark;
    --info-400: oklch(0.68 0.1164 195);
    --info-400-foreground: dark;
    --info-500: oklch(0.55 0.0945 195);
    --info-500-foreground: light;
    --info-600: oklch(0.45 0.0777 195);
    --info-600-foreground: light;
    --info-700: oklch(0.37 0.0645 195);
    --info-700-foreground: light;
    --info-800: oklch(0.29 0.0517 195);
    --info-800-foreground: light;
    --info-900: oklch(0.21 0.04 195);
    --info-900-foreground: light;
    --info-950: oklch(0.13 0.0334 195);
    --info-950-foreground: light;
    --success-50: oklch(0.97 0.052 145);
    --success-50-foreground: dark;
    --success-100: oklch(0.93 0.1293 145);
    --success-100-foreground: dark;
    --success-200: oklch(0.87 0.14 145);
    --success-200-foreground: dark;
    --success-300: oklch(0.78 0.14 145);
    --success-300-foreground: dark;
    --success-400: oklch(0.68 0.14 145);
    --success-400-foreground: dark;
    --success-500: oklch(0.55 0.14 145);
    --success-500-foreground: light;
    --success-600: oklch(0.45 0.14 145);
    --success-600-foreground: light;
    --success-700: oklch(0.37 0.1188 145);
    --success-700-foreground: light;
    --success-800: oklch(0.29 0.0952 145);
    --success-800-foreground: light;
    --success-900: oklch(0.21 0.0738 145);
    --success-900-foreground: light;
    --success-950: oklch(0.13 0.0617 145);
    --success-950-foreground: light;
    --warning-50: oklch(0.97 0.0243 75);
    --warning-50-foreground: dark;
    --warning-100: oklch(0.93 0.0577 75);
    --warning-100-foreground: dark;
    --warning-200: oklch(0.87 0.1108 75);
    --warning-200-foreground: dark;
    --warning-300: oklch(0.78 0.15 75);
    --warning-300-foreground: dark;
    --warning-400: oklch(0.68 0.1441 75);
    --warning-400-foreground: dark;
    --warning-500: oklch(0.55 0.117 75);
    --warning-500-foreground: light;
    --warning-600: oklch(0.45 0.0964 75);
    --warning-600-foreground: light;
    --warning-700: oklch(0.37 0.0803 75);
    --warning-700-foreground: light;
    --warning-800: oklch(0.29 0.0649 75);
    --warning-800-foreground: light;
    --warning-900: oklch(0.21 0.0516 75);
    --warning-900-foreground: light;
    --warning-950: oklch(0.13 0.0541 75);
    --warning-950-foreground: light;
    --neutral-50: oklch(0.97 0.02 215);
    --neutral-50-foreground: dark;
    --neutral-100: oklch(0.93 0.02 215);
    --neutral-100-foreground: dark;
    --neutral-200: oklch(0.87 0.02 215);
    --neutral-200-foreground: dark;
    --neutral-300: oklch(0.78 0.02 215);
    --neutral-300-foreground: dark;
    --neutral-400: oklch(0.68 0.02 215);
    --neutral-400-foreground: dark;
    --neutral-500: oklch(0.55 0.02 215);
    --neutral-500-foreground: light;
    --neutral-600: oklch(0.45 0.02 215);
    --neutral-600-foreground: light;
    --neutral-700: oklch(0.37 0.02 215);
    --neutral-700-foreground: light;
    --neutral-800: oklch(0.29 0.02 215);
    --neutral-800-foreground: light;
    --neutral-900: oklch(0.21 0.02 215);
    --neutral-900-foreground: light;
    --neutral-950: oklch(0.13 0.02 215);
    --neutral-950-foreground: light;

    --primary: oklch(0.55 0.1103 230);
    --primary-foreground: light;
    --primary-hover: oklch(0.45 0.0908 230);
    --primary-active: oklch(0.37 0.0754 230);
    --primary-subtle: oklch(0.97 0.018 230);
    --primary-subtle-foreground: dark;
    --primary-border: oklch(0.78 0.1399 230);
    --danger: oklch(0.55 0.18 25);
    --danger-foreground: light;
    --danger-hover: oklch(0.45 0.18 25);
    --danger-active: oklch(0.37 0.1525 25);
    --danger-subtle: oklch(0.97 0.0148 25);
    --danger-subtle-foreground: dark;
    --danger-border: oklch(0.78 0.1286 25);
    --info: oklch(0.55 0.0945 195);
    --info-foreground: light;
    --info-hover: oklch(0.45 0.0777 195);
    --info-active: oklch(0.37 0.0645 195);
    --info-subtle: oklch(0.97 0.0441 195);
    --info-subtle-foreground: dark;
    --info-border: oklch(0.78 0.12 195);
    --success: oklch(0.55 0.14 145);
    --success-foreground: light;
    --success-hover: oklch(0.45 0.14 145);
    --success-active: oklch(0.37 0.1188 145);
    --success-subtle: oklch(0.97 0.052 145);
    --success-subtle-foreground: dark;
    --success-border: oklch(0.78 0.14 145);
    --warning: oklch(0.55 0.117 75);
    --warning-foreground: light;
    --warning-hover: oklch(0.45 0.0964 75);
    --warning-active: oklch(0.37 0.0803 75);
    --warning-subtle: oklch(0.97 0.0243 75);
    --warning-subtle-foreground: dark;
    --warning-border: oklch(0.78 0.15 75);

    --background: oklch(0.97 0.02 215);
    --foreground: oklch(0.13 0.02 215);
    --card: oklch(0.97 0.02 215);
    --card-foreground: oklch(0.13 0.02 215);
    --popover: oklch(0.97 0.02 215);
    --popover-foreground: oklch(0.13 0.02 215);
    --muted: oklch(0.93 0.02 215);
    --muted-foreground: oklch(0.55 0.02 215);
    --border: oklch(0.87 0.02 215);
    --input: oklch(0.87 0.02 215);
    --ring: oklch(0.68 0.02 215);
}
